---
import Layout from "../../../../layouts/Layout.astro";
import Footer from "../../../../components/Footer.astro";
const title = "The Fediverse and Other Passion Projects";
const description = "I have been living now in Amsterdam for a little over a year with my wife and son."
---

<Layout title={title} description={description}>
  <main>
    <h1><span class="text-gradient">The Fediverse and Other Passion Projects</span></h1>
    <p>
      I have been living now in Amsterdam for a little over a year with my wife and son.
    </p>
    <p>
      I am employed as a frontend web developer by <a
        href="https://iodigital.com"
        target="_blank">iO</a
      >, and am now building for and providing technical consultation to <a
        href="https://priva.com"
        target="_blank">Priva</a
      >, where I work on the tool their partners use to configure IoT smart
      devices for highly delicate climate control in green houses that produce
      food for people around the globe.
    </p>
    <p>
      I have also started being fond of the Fediverse, which is a decentralized
      network of social platforms. I now have efforts pushing it forward by
      contributing to projects like <a
        href="https://github.com/elk-zone/"
        target="_blank">Elk Zone</a
      > and my own <a href="https://social.ayco.io">Mastodon instance</a> where I
      post what I learn along the way.
    </p>
    <p>
      In my spare time, I build side projects for people I love, like <a
        href="https://github.com/ayoayco/mnswpr#readme"
        target="_blank">mnswpr.com</a
      > and <a
        href="https://github.com/ayoayco/twists-and-shapes-and-turns#readme"
        >Kaboom!</a
      >
    </p>
    <Footer />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: var(--content-width);
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--ayo-gradient);
    animation: pulse 4s ease-in-out infinite;
    background-size: 500% 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
  }

  .highlighted-content {
    margin: 1rem 0;
    background: #4f39fa;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .highlighted-content code {
    font-size: var(--font-size-base);
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }

  .link-card-grid {
    display: grid;
    gap: 1rem;
    padding: 0;
  }
</style>
