---
import Layout from '../../../../layouts/Layout.astro'
import Footer from '../../../../components/Footer.astro'

const title = 'Taking time to reassess goals and visions'
const description = 'This is a dump of what my current state, more or less'
---

<Layout title={title} description={description}>
  <main>
    <h1><span class="text-gradient">{title}</span></h1>
    <p>
      <small
        >Published on the <time datetime="2024-09-05"
          >5th of September, 2024</time
        > from my home in Amsterdam, where it is starting to get colder again :)</small
      >
    </p>
    <p>
      <em
        >This is a dump of what my current state, more or less, and I plan to
        update my Now pages in a similar manner and more frequently...</em
      >
    </p>
    <p>
      I took the first week of September off. ”Shallow” Vacation: making time
      for things I have neglected in a while. Reconsidering my goals &
      productivity systems.
    </p>
    <p>
      Reconsidered my phone usage as well: The apple watch is good enough for
      quick notes — which is the main driver for keeping my phone around. I'm
      using <em>Things 3</em>. The watch is good for this (especially at night)
      because doesn’t have the distractions of my phone. My “phone” is rarely
      even used as phone (why don’t we just call them palmtops?)
    </p>
    <p>
      Happy about my mokka pot coffee-making journey. Been making consistent
      espresso flavor that I really like for a while. Now considering to start
      learning other variants like cappuccino
    </p>
    <p>
      Bought a <a
        href="https://www.dyson.com/air-treatment/air-purifier-heaters/purifier-hot-cool-formaldehyde-hp09/white-gold"
        >Dyson air purifier</a
      >
    </p>
    <p>
      Been updating Cozy, and it has a new ”permanent” address: <a
        href="https://cozy.pub">cozy.pub</a
      > -- See further <a href="https://social.ayco.io/@ayo/113079696909950984"
        >thought on this project</a
      >. Just give me a hundred years to finish this :)
    </p>
    <p>
      The reality of having a new role for work is hitting, and I wanna learn
      more how to succeed in engineering leadership. I’m taking my time this
      off-work week to reassess my leadership style, our strategies at work and
      how my vision for the web fits
    </p>
  </main>
  <Footer />
</Layout>

<style>
  .text-gradient {
    font-weight: 900;
    background-image: var(--ayo-gradient);
    animation: pulse 4s ease-in-out infinite;
    background-size: 500% 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
  }

  .highlighted-content {
    margin: 1rem 0;
    background: #4f39fa;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .highlighted-content code {
    font-size: var(--font-size-base);
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }

  .link-card-grid {
    display: grid;
    gap: 1rem;
    padding: 0;
  }
</style>
