---
import Layout from '../../../../layouts/Layout.astro'
import Footer from '../../../../components/Footer.astro'

const title = 'Relearning Python & working on /threads'
const description = 'Building again with Python'
---

<Layout title={title} description={description}>
  <main>
    <h1><span class="text-gradient">{title}</span></h1>
    <p>
      <small
        >Published on the <time datetime="2024-04-19">19th of April, 2024</time
        ></small
      >
    </p>

    <p>
      After a while of reading and deep consideration, I have decided to pick up
      Python as my chosen general-purpose programming language. I worked with
      Python 2 for a short while in the past, but only briefly for some projects
      and not really learning much in the larger ecosystem.
    </p>

    <p>
      This very website is now running on a <a
        href="https://flask.palletsprojects.com/">Flask</a
      > server. And I have started working on a self-hosted public <a
        href="https://git.sr.ht/~ayoayco/threads">/threads</a
      > project also on Python.
    </p>

    <p>
      Will probably write some blogs about the journey, but I have already
      organized the collection of repositories for my <a
        href="https://sr.ht/~ayoayco/personal-site">personal site</a
      >
    </p>
    <Footer />
  </main>
</Layout>

<style>
  .text-gradient {
    font-weight: 900;
    background-image: var(--ayo-gradient);
    animation: pulse 4s ease-in-out infinite;
    background-size: 500% 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
  }

  .highlighted-content {
    margin: 1rem 0;
    background: #4f39fa;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .highlighted-content code {
    font-size: var(--font-size-base);
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }

  .link-card-grid {
    display: grid;
    gap: 1rem;
    padding: 0;
  }
</style>
