---
import Layout from '../layouts/Layout.astro'
import Footer from '../components/Footer.astro'
import Posts from '../components/Posts.astro'
import now from '../constants/now'

const posts = await Astro.glob('./now/and-then/posts/*.astro')
---

<Layout title="Now" description="What is Ayo Ayco currently up to?">
  <main>
    <h1><span class="text-gradient">Now: {now.status}</span></h1>
    <p>
      <em
        >Published on <time datetime="{now.publishDate}"
          >{now.readableDate ?? now.publishDate}</time
        >
        {now.publishState}</em
      >
    </p>

    <p>Christmas holidays as started for me.</p>

    <p>
      I think I finished all needed stuff for work. Also messaged people online
      for a final happy holiday greetings of the year. Will go offline til
      January and figure out my rhythm for next year.
    </p>

    <p>
      Reading Radical Candor by Kim Scott. Feels like a lot of these kind of
      books are a rehash of concepts in "The 7 Habits of Highly Effective
      People" and "How to Win Friends and Influence People" -- I recommend those
      first before this one! I like that “humility” was also given a spotlight;
      there's not enough attention to the effectivity/productivity of
      acknowledging you can be wrong and welcoming feedback (both praise &
      criticism). Hard to capture in a paragraph though -- ask me to elaborate
      if you want and when given the chance!
    </p>

    <p>
      Also reinforced the idea that 'writing a story' in my head about people,
      with prejudice, is unproductive. Assumptions are never good; always verify
      before forming judgments and/or giving feedbacks.
    </p>

    <p>
      Spent some time in Aachen, Germany with the fam. Walked around the
      Christmas Market there. Food trip galore, sat at cafes, read books, bought
      stuff. :)
    </p>

    <p>
      But the highlight is going to Monschau on a day trip. Kahel buit a small
      snowman.
    </p>

    <p>
      Also, realized down-time travel time is infinitely more productive when
      listening to Audio books. It is especially effective for me for books I
      have already finished and just need a review. So I am glad I have a copy
      of the 7-habits book ready -- I finished that one years ago, listening to
      the audio is mostly just a review.
    </p>

    <p>
      Stopping now before this becomes a long blog about books; seems I need to
      write that separately...
    </p>

    <Posts posts={posts} title="Previously..." />
    <hr />
    <em><a href="https://nownownow.com/about">About now pages</a></em>
    <Footer />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: var(--content-width);
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--ayo-gradient);
    animation: pulse 4s ease-in-out infinite;
    background-size: 500% 500%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
  }

  .highlighted-content {
    margin: 1rem 0;
    background: #4f39fa;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .highlighted-content code {
    font-size: var(--font-size-base);
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }

  .link-card-grid {
    display: grid;
    gap: 1rem;
    padding: 0;
  }
</style>
