---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Card from "../components/Card.astro";
import Back from "../components/Back.astro";
---

<Layout>
  <main>
    <Back url="/" />
    <h1>Showcase <span class="text-gradient">Components</span></h1>
    <ul list=role>
      <Card
        href="/showcase/astro-github-stats"
        title="Astro Github Stats"
        body="Embed github stats on your Astro page ✨"
        />
    </ul>
    <Footer />
  </main>
</Layout>
