---
export interface Props {
  url: string;
}
const { url } = Astro.props;
---

<nav><a class="back-link" href={url}>&larr; Back</a></nav>

<style>
  nav {
    margin-bottom: -1rem;
  }

  nav a.back-link {
    font-size: var(--font-size-lg);
    text-decoration: none;
  }
</style>
