---
export interface Props {
  url: string;
  text?: string;
}
const { text = "Back", url } = Astro.props;
---

<nav><a class="back-link" href={url}>&larr; {text}</a></nav>

<style>
  nav {
    margin-bottom: -1rem;
  }

  nav a.back-link {
    font-size: var(--font-size-lg);
    text-decoration: none;
  }
</style>
