
<footer>
    <ul role="list" style="list-style:none">
        <li>2022 &#169; <a href="/">Ayo Ayco</a>. All Rights Reserved</li>
        <li>Ayo Ayco | Software Engineer + Web Developer</li>
        <li>View my website's code at <a href="https://github.com/ayoayco/ayco.io-astro">Github</a></li>
        <li>Missing old content? I moved <a href="https://classic.ayco.io">my previous site</a></li>
    </ul>
</footer>

<style>
    footer {
        color: #888;
        font-size: small;
        margin-top: 2em;
        text-align: right;
    }

    footer a {
        font-weight: 900;
        background-image: var(--ayo-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 100% 200%;
        background-position-y: 100%;
        border-radius: 0.4rem;
    }
</style>
