<footer>
    <ul role="list" style="list-style:none">
        <li>2022 &#169; <strong>Ayo Ayco</strong>. All Rights Reserved</li>
        <li><strong>Ayo Ayco</strong> | Software Engineer + Web Developer</li>
        <li>View my website's code at <a href="https://github.com/ayoayco/ayco.io-astro">Github</a></li>
        <li>Missing old content? I moved <a href="https://classic.ayco.io">my previous site</a></li>
    </ul>
</footer>

<style>
    footer {
        color: #888;
        font-size: small;
        margin-top: 2em;
        text-align: right;
    }

</style>
