<footer>
  <ul role="list" style="list-style:none">
    <li>2022 &#169; <strong>Ayo Ayco</strong>. All Rights Reserved</li>
    <li><strong>Ayo Ayco</strong> | Software Engineer + Web Developer</li>
    <li>
      Missing old content? I moved <a href="https://classic.ayco.io"
        >my previous site</a
      >
    </li>
  </ul>
</footer>

<style>
  footer {
    font-size: small;
    margin-top: 2em;
    text-align: right;
  }
</style>
