---
const year = new Date().getFullYear();
const links = [
  {
    text: 'Blog',
    url: 'https://ayos.blog'
  },
  {
    text: 'Social',
    url: 'https://social.ayco.io'
  },
  {
    text: 'GitHub',
    url: 'https://github.com/ayoayco'
  },
  {
    text: 'SourceHut',
    url: 'https://sr.ht/~ayoayco'
  },
  {
    text: 'LinkedIn',
    url: 'https://www.linkedin.com/in/ayoayco'
  },
  {
    text: 'Photos',
    url: 'https://metapixl.com/@ayo'
  },
  {
    text: 'SoundCloud',
    url: 'https://SoundCloud.com/ayoayco'
  },
  {
    text: 'NPM',
    url: 'https://www.npmjs.com/~aayco'
  },
  {
    text: 'Instagram',
    url: 'https://instagram.com/ayoayco'
  },
  {
    text: 'Social Alt (Web Tools)',
    url: 'https://m.webtoo.ls/@ayo'
  },
]
---

<footer>
  <div class="left-section">
    {
      links.map((linkObj) => <p><a href={linkObj.url}>{linkObj.text}</a></p>)
    }

  </div>
  <div class="right-section">
    <p>&#169; 2022-{year} <strong>Ayo Ayco</strong></p>
    <p>
      This website <a href="https://ayos.blog/stopped-tracking-on-my-sites"
        >does not track users</a>
    </p>
    <p>
      See the <a href="https://sr.ht/~ayoayco/personal-site">source code</a>
    </p>
  </div>
</footer>

<style>
  footer {
    margin-top: 1em;
    text-align: right;
    display: grid;
    gap: 1rem;
    padding: 0;
  }

  footer p {
    font-size: var(--font-size-sm);
    margin: 0;
  }
</style>
