---
import { footerLinks as links } from '../constants/links'
const year = new Date().getFullYear()
---

<footer>
  <ul>
    <li>
      <a href="/about">About me</a>
    </li>
    <li>
      <a href="/now">What I'm up to</a>
    </li>
    <li>
      <a href="/threads">Thoughts</a>
    </li>
    <li>
      <a href="/showcase">Some Projects</a>
    </li>
    <li>
      <a href="https://ayos.blog/talks">Talks</a>
    </li>
    <li>
      <a href="https://ayos.blog/projects">More Projects</a>
    </li>
  </ul>
  <ul>
    {
      links.map((linkObj) => (
        <li>
          <a href={linkObj.url}>{linkObj.text}</a>
        </li>
      ))
    }
  </ul>
  <p>
    &#169; 2022-{year}
    <a href="/">Ayo Ayco</a>. This website <a
      href="https://ayos.blog/stopped-tracking-on-my-sites"
      >does not track users</a
    >. See the <a href="https://sr.ht/~ayoayco/personal-site">source code</a>.
  </p>
</footer>

<style>
  footer {
    margin-top: 2em;
    /* grid-template-columns: auto auto;
    display: grid;
    gap: 1rem; */
    padding: 0;

    ul {
      list-style: none;
      padding: 0;

      li {
        display: inline;

        &:not(:last-child)::after {
          content: ' • ';
        }
      }
    }

    p,
    ul {
      margin: 0 0 1em;
      font-size: var(--font-size-sm);
      line-height: 2em;
    }
  }
</style>
