<footer>
  <ul role="list" style="list-style:none">
    <li>2022 &#169; <strong>Ayo Ayco</strong>. All Rights Reserved</li>
    <li>This website does not track users.</li>
    <li><a href="https://github.com/ayoayco/ayco.io-astro">See the source code</a></li>
  </ul>
</footer>

<style>
  footer {
    margin-top: 1em;
    text-align: right;
  }
  footer ul {
    font-size: var(--font-size-sm);
  }
</style>
