<footer>
    <ul role="list" style="list-style:none">
    <li>This website is a shameless template of <a href="https://astro.build" target="_blank">Astro</a></li>
    <li>2022 @ <a href="/">Ayo Ayco</a>. All Rights Reserved</li>
    <li>Moved my old website to <a href="https://classic.ayco.io">a new address</a>.</li>
    </ul>
</footer>

<style>

    :root {
            --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
    }

    footer {
        color: #888;
        margin-left: -40px;
    }

    footer a {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
    }
</style>
