---
const year = new Date().getFullYear();
const links = [
 {
    text: 'GitHub',
    url: 'https://github.com/ayoayco'
  },
  {
    text: 'SourceHut',
    url: 'https://sr.ht/~ayoayco'
  },
  {
    text: 'LinkedIn',
    url: 'https://www.linkedin.com/in/ayoayco'
  },
  {
    text: 'Pixelfed',
    url: 'https://metapixl.com/@ayo'
  },
  {
    text: 'SoundCloud',
    url: 'https://SoundCloud.com/ayoayco'
  },
  {
    text: 'NPM',
    url: 'https://www.npmjs.com/~aayco'
  },
  {
    text: 'Instagram',
    url: 'https://instagram.com/ayoayco'
  },
  {
    text: 'Web Tools',
    url: 'https://m.webtoo.ls/@ayo'
  },
  {
    text: 'Ayco Social',
    url: 'https://social.ayco.io'
  },
]
---

<footer>
    <p>
      {
        links.map((linkObj) => <span class="link-item"><a href={linkObj.url}>{linkObj.text}</a></span>)
      }
    </p>
    <p>
      &#169; 2022-{year} <a href="/">Ayo Ayco</a>. This website <a href="https://ayos.blog/stopped-tracking-on-my-sites">does not track users</a>. See the <a href="https://sr.ht/~ayoayco/personal-site">source code</a>.
    </p>

</footer>

<style>
  footer {
    margin-top: 2em;
    /* grid-template-columns: auto auto;
    display: grid;
    gap: 1rem; */
    padding: 0;

    .link-item:not(:last-child)::after {
      content: ' • '
    }

    p {
      margin: 0 0 1em;
      font-size: var(--font-size-sm);
      line-height: 2em;
    }

  }
</style>
