---
const year = new Date().getFullYear();
---

<footer>
  <ul style="list-style:none">
    <li>&#169; 2022-{year} <strong>Ayo Ayco</strong>. All Rights Reserved</li>
    <li>
      This website <a href="https://ayos.blog/stopped-tracking-on-my-sites"
        >does not track users</a>
    </li>
    <li>
      See the <a href="https://sr.ht/~ayoayco/personal-site/sources">source code</a>
    </li>
  </ul>
</footer>

<style>
  footer {
    margin-top: 1em;
    text-align: right;
  }
  footer ul {
    font-size: var(--font-size-sm);
  }
</style>
