<footer>
  <ul style="list-style:none">
    <li>2022 &#169; <strong>Ayo Ayco</strong>. All Rights Reserved</li>
    <li>This website does not track users.</li>
    <li><a href="https://git.sr.ht/~ayoayco/ayco.io-astro/tree">See the source code</a></li>
  </ul>
</footer>

<style>
  footer {
    margin-top: 1em;
    text-align: right;
  }
  footer ul {
    font-size: var(--font-size-sm);
  }
</style>
