---
export interface Props {
  title: string;
}
const { title } = Astro.props;
const description =
  "Ayo Ayco is a software engineer and consultant, expecializing in web development | " +
  title;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta name="theme-color" content="#3054bf" />

  <!-- SEO -->
  <meta name="description" content={description} />

  <link rel="shortcut icon" type="image/png" href="/favicon.ico" />
  <title>{title}</title>
</head>
