---
import Icon from "astro-icon";
export type Link = {
  url: string;
  icon: string;
  newTab?: boolean;
};

const url = Astro.url.pathname.toString();

export interface Props {
  links: Array<Link>;
}

const { links } = Astro.props;
---

<div class="nav-wrapper">
  <nav>
    <div id="left-wrapper">
      {
        (url !== "/") &&
        (<a href="/"><Icon pack="mdi" name="home" />Home</a>)
      }
    </div>
    <div id="right-wrapper">
      {
        links
          .filter((link) => link.url !== "")
          .map((link) => (
            <a href={link.url} target={link.newTab ? "_blank" : null}>
              <Icon pack="mdi" name={link.icon} /> {link.icon}
            </a>
          ))
      }
    </div>
  </nav>
</div>

<style>
  div.nav-wrapper {
    background: var(--ayo-gradient);
  }
  nav {
    display: flex;
    width: var(--content-width);
    margin: 0 auto;
  }
  nav a {
    display: inline-block;
    text-decoration: underline;
    font-weight: normal;
    color: var(--color-bg);
    padding: 5px;
  }
  nav a:hover {
    color: var(--color-brand-complement);
  }

  nav a svg {
    width: 0.75rem;
  }

  #left-wrapper,
  #right-wrapper {
    flex: 1;
  }
  #right-wrapper {
    text-align: right;
  }
</style>
