---
import Card from "./Card.astro";
import type { AstroInstance } from "astro";

export interface Props {
  posts: AstroInstance[];
  title: string;
}
const { title, posts } = Astro.props;
const postUrls: string[] = posts.map((post) => post.url || "");
---

<h2>{title}</h2>
{
  postUrls
    .filter((url) => url !== "")
    .map((url) => (
      <Card href={url} title={url?.replace("/now/and-then/", "")} body="" />
    ))
}
