.astro-code {
  padding: 1em;
  border-radius: 1em;
}

img {
  border: 1px solid var(--color-border);
  border-radius: 5px;
  box-shadow: 5px 25px 10px -25px rgba(34, 34, 34, 0.15);
  max-width: 100%;
  object-fit: contain;
  height: auto;
}
