---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import Back from "../../components/Back.astro";
import GithubStats from "astro-github-stats";
---

<Layout title="Ayo Ayco | Showcase | Astro Github Stats">
  <main>
    <Back url="/showcase" />
    <h1>Astro GitHub Stats ✨</h1>

    <h3>Account Stats</h3>
    <GithubStats username="ayoayco" />

    <h3>Account Top Languages</h3>
    <GithubStats username="ayoayco" topLanguages={true} />

    <h3>Repo card</h3>
    <GithubStats username="withastro" repo="astro" />

    <h3>Links</h3>
    <ol>
      <li>
        GitHub repo: <a href="https://github.com/ayoayco/astro-github-stats"
          >astro-github-stats</a
        >
      </li>
      <li>
        NPM registry: <a href="https://npmjs.org/astro-github-stats"
          >astro-github-stats</a
        >
      </li>
    </ol>

    <Footer />
  </main>
</Layout>
