---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import Back from "../../components/Back.astro";
import GithubStats from "astro-github-stats";
---

<Layout title="Astro Github Stats | Ayo Ayco | Software Engineer + Web Developer ">
  <main>
    <Back url="/showcase" />
    <h1>Astro GitHub Stats</h1>
    <p>Embed GitHub stats on your Astro page</p>
    <ul>
      <li>
        GitHub repo: <a href="https://github.com/ayoayco/astro-github-stats"
          >astro-github-stats</a
        >
      </li>
      <li>
        NPM registry: <a href="https://npmjs.org/astro-github-stats"
          >astro-github-stats</a
        >
      </li>
    </ul>

    <h2>Account Stats</h2>
    <GithubStats username="ayoayco" />

    <h2>Account Top Languages</h2>
    <GithubStats username="ayoayco" topLanguages={true} />

    <h2>Repo card</h2>
    <GithubStats username="withastro" repo="astro" />

    <h2>Account Stats with Icons</h2>
    <GithubStats username="ayoayco" showIcons={true} />

    <Footer />
  </main>
</Layout>
