---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import Card from "../../components/Card.astro";
import Back from "../../components/Back.astro";
---

<Layout title="UI Components | Ayo Ayco | Software Engineer + Web Developer">
  <main>
    <Back url="/" />
    <h1>UI <span class="text-gradient">Components</span></h1>
    <ul role="list">
      <Card
        href="/showcase/astro-reactive-form"
        title="Astro Reactive Form"
        body="The reactive form component for Astro 🔥"
      />
      <Card
        href="/showcase/astro-github-stats"
        title="Astro GitHub Stats"
        body="Embed GitHub stats on your Astro page ✨"
      />
    </ul>
    <Footer />
  </main>
</Layout>

<style>
  ul {
    list-style: none;
    display: grid;
    gap: 1rem;
    padding: 0;
  }
</style>
